<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Quick Reply - it's easy">
    <meta name="author" content="droitlab">
    <!-- SITE TITLE -->
    <title>Quick Reply - it's easy</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <!--        <link rel="stylesheet" href="css/css/linearicons.css">-->
    <link rel="stylesheet" th:href="@{/elegant-icon/style.css}">
    <link rel="stylesheet" th:href="@{/simpleline-icon/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/preset.css}">
    <link rel="stylesheet" th:href="@{/css/scroll-animation.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/theme-style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/Favicon_app.png}">

</head>

<body>
<div data-spy="scroll" data-target=".navbar" data-offset="94" id="home">

    <nav class="navbar navbar-fixed-top new_header">
        <div class="container custome_container">
            <div class="row br">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand ex" th:href="@{/}">
                            <img class="main-logo" style="" th:src="@{/images/quick-reply-logo.png}" alt="Home">
                            <img class="logo-blue" th:src="@{/images/quick-reply-logo.png}" alt="Home">
                        </a>
                        <!--                        &lt;!&ndash;Get-Now-Button&ndash;&gt;-->
                        <!--                        <a class="btn-getnow new_btn" href="#">Get Now</a>-->
                    </div>
                    <div class="collapse navbar-collapse multi_page_menu_item" id="myNavbar">
                        <ul id="menu-one-page" class="nav navbar-nav navbar-right multi">
                            <li class="menu-item"><a title="Services" th:href="@{/messages/all}">All</a></li>

                            <li class="menu-item"><a title="Services" th:href="@{/messages/add}">Add my own reply</a>
                            </li>

                            <li class="menu-item current_page_item"><a title="Home"
                                                                       th:href="@{/messages/email}">e-mail</a></li>
                            <li class="menu-item"><a title="Services" th:href="@{/messages/messenger}">messengers</a>
                            </li>
                            <li class="menu-item"><a title="Dashboard" th:href="@{/messages/social}">social networks</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <section class="saas_home_area">
        <div class="home_item">
            <div id="bubbles">
                <div class="bubble x1"></div>
                <div class="bubble x2"></div>
                <div class="bubble x3"></div>
                <div class="bubble x4"></div>
                <div class="bubble x5"></div>
                <div class="bubble x6"></div>
                <div class="bubble x7"></div>
                <div class="bubble x8"></div>
                <div class="bubble x9"></div>
                <div class="bubble x10"></div>
                <div class="bubble x11"></div>
                <div class="bubble x12"></div>
                <div class="bubble x13"></div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg">
                <path class="cls-1" fill="#fff" d="M0,0S480.2,100,960.3,100C1440.2,100,1920,0,1920,0V120H0V0Z"/>
            </svg>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h6 class="s_banner_text">Quick Reply</h6>
                        <h1 class="s_banner_title">Give quick reply <br>for every message!</h1>
                        <a th:href="@{/messages/all}" class="saas_btn">View all replies</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="saas_home_img">
            <img th:src="@{/images/new/saas/main.png}" alt="">
        </div>
    </section>
    <section class="n_features_area pt_0 " id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="n_features_item">
                        <a th:href="@{/messages/email}">
                            <div class="n_round_icon">
                                <img th:src="@{/images/new/icon/email.png}" alt="">
                            </div>
                        </a>
                        <h3>Email</h3>
                        <p>replies for email</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="n_features_item">
                        <a th:href="@{/messages/messenger}">
                            <div class="n_round_icon">
                                <img th:src="@{/images/new/icon/messenger.png}" alt="">
                            </div>
                        </a>
                        <h3>Messengers</h3>
                        <p>replies for messengers</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="n_features_item">
                        <a th:href="@{/messages/social}">
                            <div class="n_round_icon">
                                <img th:src="@{/images/new/icon/social.png}" alt="">
                            </div>
                        </a>
                        <h3>Social Networks</h3>
                        <p>replies for social networks</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    </footer>-->
    <a href="#" class="scrollup"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    <!-- Scripts -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBumN1FxU0vF8HVI_qy9yFlwcZ4Wop_RtY"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.mixitup.js}"></script>
    <script type="text/javascript" th:src="@{/js/gmap.js}"></script>
    <script type="text/javascript" th:src="@{/js/parallax.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom-animations.js}"></script>
    <script type="text/javascript" th:src="@{/js/theme.js}"></script>


</div>
</body>

</html>
